#list-edit{
    padding-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgb(245, 245, 220, .75);
    padding: 5px;
    margin-bottom: 5px;
}

.edit-form-input{
    margin: 8px;
}