.user-info{
    padding-top: 100px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
}

.user-ul{
    background: rgba(196, 138, 138, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    margin: 8px;
    padding: 3px;
    border: 2px solid rgb(165, 142, 10);
    border-radius: 8px;
}

.user-li{
    color: rgb(255, 255, 255)
}

#title{
    font-size: x-large;
    color: rgb(97, 16, 172);
}