.App {
  text-align: center;
  background: rgb(245, 212, 192);
  background: url('https://img.freepik.com/free-photo/top-view-arrangement-natural-material-stationery_23-2148898233.jpg');
  background-size: cover;
}

@font-face{
  font-family: 'Modak';
  src: local('Modak'), url(./assets/fonts/Modak-Regular.ttf) format('truetype');
  font-weight: 900;
}

@font-face{
  font-family: 'Pacifico';
  src: local('Pacifico'), url(./assets/fonts/Pacifico-Regular.ttf) format('truetype');
}

.App-link {
  color: #61dafb;
}

p{
  width: 80vw;
}

ul{
  list-style-type: none;
  padding-left: 0px;
}

@media (max-width: 1200px){
  .App{
    width: 100vw;
  }
}

@media (max-width: 400px){
  .App{
    width: 100vw;
  }
}