.App {
  text-align: center;
  background: rgb(255, 219, 140);
  background: url('https://img.freepik.com/free-photo/top-view-arrangement-natural-material-stationery_23-2148898233.jpg');
  background-size: cover;
}

@font-face{
  font-family: 'Modak';
  src: local('Modak'), url(./assets/fonts/Modak-Regular.ttf) format('truetype');
  font-weight: 900;
}

@font-face{
  font-family: 'Pacifico';
  src: local('Pacifico'), url(./assets/fonts/Pacifico-Regular.ttf) format('truetype');
}

.App-link {
  color: #61dafb;
}

p{
  width: 80vw;
}

ul{
  list-style-type: none;
  padding-left: 0px;
}

input{
  border-radius: 4px;
}

@media (max-width: 1200px){
  .App{
    width: 100vw;
  }
  .App .cat-explain{
    width: 80vw;
  }
  .App #cat-description{
    width: 80vw;
  }
  .App .lists{
    width: 25vw;
    padding: 12px;
  }
  .App .user-ul{
    width: 300px;
  }
  .App .user-info{
    font-size: x-large;
  }
  .App .user-lists{
    width: 100vw;
    padding-bottom: 50px;
  }
}

@media (max-width: 400px){
  .App{
    width: 100vw;
  }
  .App .list-image{
    width: 50vw;
  }
  .App #user-create-form{
    font-size: medium;
    width: 90vw;
  }
  .App #login-div{
    font-size: x-large;
  }
  .App .login-submit{
    font-size: x-large;
  }
  .App .categories-page{
    background: linear-gradient(90deg, rgb(236, 220, 185), rgb(190, 174, 139)); 
  }
  .App .cat-image{
    width: 50vw;
  }
  .App #add-list{
    font-size: x-large;
  }
  .App .lists{
    width: 80vw;
  }
  .App #update-list{
    font-size: large;
    margin-bottom: 100px;
  }
  .App #list-edit{
    padding-bottom: 100px;
  }
  .App #update-button{
    font-size: large;
  }
  .App .user-info{
    background: linear-gradient(90deg, rgb(236, 220, 185), rgb(190, 174, 139));
  }
  .App #user-edit-form{
    font-size: medium;
  }
}