.homepage{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.list-image{
    width: 20vw;
    border-radius: 50%;
}

#guest-button, #login-button{
    margin: 5px;
}

#guest-button, #login-button, #continue-button{
    background: rgb(80, 40, 11);
    padding: 5px;
    color: rgb(230, 203, 255);
    border-radius: 6px;
}

#welcome{
    font-size: xxx-large;
    font-family: Pacifico;
    text-shadow: -1px -1px 0 rgb(125, 235, 255),
     1px -1px 0 rgb(125, 235, 255), 
     -1px 1px 0 rgb(125, 235, 255), 
     1px 1px 0 rgb(125, 235, 255);
}

#welcome-paragraph{
    width: fit-content;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid peru;
    background: rgb(236, 219, 208);
    box-shadow: 3px 3px rgb(196, 130, 104);
    font-family: cursive;
}

#my-top-5{
    color: rgb(0, 119, 255);
    font-weight: 600;
}

#username{
    font-weight: 600;
    color: rgb(156, 198, 247);
}