.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    background: linear-gradient(rgb(250, 247, 234), 75%, gray);
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-links{
    margin: 0 8px;
}

#my-name{
    margin: 3px;
}