#user-update{
    padding-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}

#user-edit-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(245, 220, 220, 0.75);
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid gold;
    border-radius: 6px;
}

.edit-input{
    margin: 8px;
}

#user-update-title{
    font-family: Pacifico;
}